{erl_opts, [debug_info]}.
{deps, [ {erlperf, "2.2.0"}
       , {thoas, "1.0.0"}
       , {jsx, "3.1.0"}
       , {jiffy, "1.1.1"}
       , {jsone, {git, "https://github.com/sile/jsone.git", {tag, "1.8.0"}}}
       , {jsxrecord, {git, "https://github.com/zotonic/jsxrecord.git", {tag, "1.2.0"}}}
       ]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [json_bench]}
]}.
